pkgbase = whitemagic-bin
	pkgdesc = Local-first memory, recall, and continuity engine for AI agents (prebuilt)
	pkgver = 10.2.0_alpha.4
	pkgrel = 1
	url = https://whitemagic.dev
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = whitemagic
	conflicts = whitemagic
	options = !strip
	source_x86_64 = whitemagic-bin-10.2.0_alpha.4-x86_64.gz::https://github.com/lbailey94/whitemagic/releases/download/v10.2.0-alpha.4/wm-linux-x86_64.gz
	sha256sums_x86_64 = d558c7fa67ee68439c1c2dcc55a68e01dd57206ca9614a382822df2cd64dbbed
	source_aarch64 = whitemagic-bin-10.2.0_alpha.4-aarch64.gz::https://github.com/lbailey94/whitemagic/releases/download/v10.2.0-alpha.4/wm-linux-aarch64.gz
	sha256sums_aarch64 = ac749a0bfff2434c165abedc58ce412edb5891ce14449304c087e3a7f27cd0c2

pkgname = whitemagic-bin
